
<%- include('../partials/header', { title: title }) %>

	
	
    <div class="page-content">

		<!-- Main sidebar -->
        <%- include('../partials/sidebar.ejs') %>
		<!-- /main sidebar -->


		<!-- Main content -->
		<div class="content-wrapper">
    <!-- Main navbar -->
	<%- include('../component/dashboard/navbar.ejs') %>
	<!-- /main navbar -->
			<!-- Inner content -->
			<div class="content-inner">




				</div>
				<!-- /content area -->


<%- include('../partials/footer') %>
