<!DOCTYPE html>
<html lang="en" dir="ltr" class="layout-static">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title><%= title%></title>

	<!-- Global stylesheets -->
	<link href="/fonts/inter/inter.css" rel="stylesheet" type="text/css">
	<link href="/icons/phosphor/styles.min.css" rel="stylesheet" type="text/css">
	<link href="/css/ltr/all.min.css" id="stylesheet" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<link rel="stylesheet" href="/css/ltr/custom.css">
	<!-- Core JS files -->
	<script src="demo/demo_configurator.js"></script>
	<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
	<!-- /core JS files -->
	
	<!-- vendor css -->
	 <link rel="stylesheet" href="/css/ltr/vendors/chosen.min.css">


	<!-- Theme JS files -->
	<script src="/js/jquery/jquery.min.js"></script>
	<script src="/js/vendor/forms/selects/bootstrap_multiselect.js"></script>
	<script src="/js/vendor/tables/datatables/datatables.min.js"></script>
	<script src="/js/vendor/tables/datatables/extensions/pdfmake/pdfmake.min.js"></script>
	<script src="/js/vendor/tables/datatables/extensions/pdfmake/vfs_fonts.min.js"></script>
	<script src="/js/vendor/tables/datatables/extensions/buttons.min.js"></script>
	<script src="/js/validation/jqBootstrapValidation.js"></script>
	

	<script src="/js/app.js"></script>
	<script src="/demo/pages/form_multiselect.js"></script>
		
    <script src="/js/tables/table.js"></script>
	<script src="/js/custom.js"></script>
	


</head>

<body>