<div class="sidebar sidebar-dark sidebar-main sidebar-expand-lg">

    <!-- Sidebar header -->
    <div class="sidebar-section bg-black bg-opacity-10 border-bottom border-bottom-white border-opacity-10">
        <div class="sidebar-logo d-flex justify-content-center align-items-center">
            <a href="/dashboard/" class="d-inline-flex align-items-center py-2">
                <span style="font-size: 20px; font-weight: 800;" class="text-light">Jindal Trading Co.</span>
               
            </a>

            <div class="sidebar-resize-hide ms-auto">
                <button type="button" class="btn btn-flat-white btn-icon btn-sm rounded-pill border-transparent sidebar-control sidebar-main-resize d-none d-lg-inline-flex">
                    <i class="ph-arrows-left-right"></i>
                </button>

                <button type="button" class="btn btn-flat-white btn-icon btn-sm rounded-pill border-transparent sidebar-mobile-main-toggle d-lg-none">
                    <i class="ph-x"></i>
                </button>
            </div>
        </div>
    </div>
    <!-- /sidebar header -->


    <!-- Sidebar content -->
    <div class="sidebar-content">

       


        <!-- Main navigation -->
        <div class="sidebar-section">
            <ul class="nav nav-sidebar" data-nav-type="accordion">

                <!-- Main -->
                <li class="nav-item-header">
                    <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Main</div>
                    <i class="ph-dots-three sidebar-resize-show"></i>
                </li>
                <li class="nav-item">
                    <a href="/dashboard/" class="nav-link active">
                        <i class="ph-house"></i>
                        <span>
                            Dashboard
                            <span class="d-block fw-normal opacity-50">No pending orders</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/dashboard/customers" class="nav-link active">
                        <i class="ph-users"></i>
                        <span>
                            Customer
                            <span class="d-block fw-normal opacity-50">All Customer Detail</span>
                        </span>
                    </a>
                </li>
                
                <li class="nav-item nav-item-submenu">
                    <a href="#" class="nav-link">
                        <i class="ph-layout"></i>
                        <span>Database</span>
                    </a>
                    <ul class="nav-group-sub collapse">
                        <li class="nav-item"><a href="/dashboard/customers" class="nav-link">Customers</a></li>
                        <li class="nav-item"><a href="/dashboard/employees" class="nav-link">Employees</a></li>
                        <li class="nav-item"><a href="/dashboard/firms" class="nav-link">Firms</a></li>
                        <li class="nav-item"><a href="/dashboard/areas" class="nav-link">Areas</a></li>
                        <li class="nav-item"><a href="/dashboard/categories" class="nav-link">Categories</a></li>
                        <li class="nav-item"><a href="/dashboard/grades" class="nav-link">Grades</a></li>
                        <li class="nav-item"><a href="/dashboard/products" class="nav-link">Products</a></li>
                        <li class="nav-item"><a href="/dashboard/product-groups" class="nav-link">Product Groups</a></li>

                    </ul>
                </li>
               
            

                <!-- Layout -->
                <li class="nav-item-header">
                    <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Layout</div>
                    <i class="ph-dots-three sidebar-resize-show"></i>
                </li>
              
                <li class="nav-item nav-item-submenu">
                    <a href="#" class="nav-link"><i class="ph-arrow-elbow-down-right"></i> <span>Menu levels</span></a>
                    <ul class="nav-group-sub collapse">
                        <li class="nav-item"><a href="#" class="nav-link">Second level</a></li>
                        <li class="nav-item nav-item-submenu">
                            <a href="#" class="nav-link">Second level with child</a>
                            <ul class="nav-group-sub collapse">
                                <li class="nav-item"><a href="#" class="nav-link">Third level</a></li>
                                <li class="nav-item nav-item-submenu">
                                    <a href="#" class="nav-link">Third level with child</a>
                                    <ul class="nav-group-sub collapse">
                                        <li class="nav-item"><a href="#" class="nav-link">Fourth level</a></li>
                                        <li class="nav-item"><a href="#" class="nav-link">Fourth level</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a href="#" class="nav-link">Third level</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a href="#" class="nav-link">Second level</a></li>
                    </ul>
                </li>
                <!-- /layout -->

            </ul>
        </div>
        <!-- /main navigation -->

    </div>
    <!-- /sidebar content -->



</div>