<%- include('../../partials/websiteHeader', { title: "Jindal Trading Co." }) %>

    <%- include('../../component/website/navbar') %>


        <div class="container-xxl">
            <!-- Header -->
            <header class="bg-white py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="/website/img/product-charcoal.jpg" alt="Blog Post Image" class="img-fluid mb-4">
                        </div>

                        <div class="col-md-6">
                            <h1 class="display-4 text-primary">Charcoal</h1>
                            <hr>
                            <ul class="list-unstyled">
                                <li><strong>Business Type:</strong> Supplier, Retailer, Wholesaler</li>
                                <li><strong>Material:</strong> N/A</li>
                                <li><strong>Color:</strong> Black</li>
                                <li><strong>Form:</strong> N/A</li>

                                <hr>
                                <li class="mt-4">
                                    <a href="https://wa.me/919690901694" target="_blank" class="text-decoration-none">
                                        <div class="d-flex align-items-center">
                                            <i class="fa fa-headphones fa-2x bg-primary p-3 text-white"></i>
                                            <div class="ps-4">
                                                <h6>Request To Call</h6>
                                                <h3 class="text-primary m-0">+91 9690901694</h3>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>

            <hr>

            <!-- Main Content -->
            <main class="container my-5">
                <div class="row">
                    <div class="col-lg-12 mx-auto">
                        <article class="blog-post">
                            <h2 class="display-4">What is Charcoal?</h2>

                            <div class="blog-post-content">
                                <p>Charcoal, an impure form of graphitic carbon, is obtained as a residue when
                                    carbonaceous material is partially burned or heated with limited access to air. It
                                    is used in various industries including chemical, iron and steel, and metallurgy.
                                </p>

                                <p>Charcoal is employed in the chemical industry for the production of carbon
                                    disulphide, sodium cyanide, and carbides. In the iron and steel industry, it is used
                                    in metallurgy for furnaces, ferro-silica, metal hardening, and other applications.
                                </p>

                                <p>It is an amorphous carbon in the form of highly porous microcrystalline graphite.</p>

                                <h3>Charcoal Composition</h3>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Property</th>
                                            <th>Charcoal % Good</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Carbon</td>
                                            <td>75-80%</td>

                                        </tr>
                                        <tr>
                                            <td>Ash</td>
                                            <td>3-4%</td>

                                        </tr>
                                        <tr>
                                            <td>Volatile Matter</td>
                                            <td>20-25%</td>

                                        </tr>
                                        <tr>
                                            <td>Bulk Density</td>
                                            <td>250-300%</td>

                                        </tr>
                                        <tr>
                                            <td>Average Size</td>
                                            <td>20-50%</td>

                                        </tr>
                                        <tr>
                                            <td>Pines Content</td>
                                            <td>10% MAX</td>

                                        </tr>
                                        <tr>
                                            <td>Moisture Content</td>
                                            <td>10% MAX</td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </article>
                    </div>
                </div>
            </main>

            <!-- Quote Start -->
            <%- include('../../component/website/quote') %>
                <!-- Quote End -->

        </div>


        <%- include('../../partials/websiteFooter') %>