<%- include('../../partials/websiteHeader', { title: "Jindal Trading Co." }) %>

    <%- include('../../component/website/navbar') %>

        <div class="container-xxl">
            <!-- Header -->
            <header class="bg-white py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="/website/img/product-coke.jpg" alt="Coke Image" class="img-fluid mb-4">
                        </div>

                        <div class="col-md-6">
                            <h1 class="display-4 text-primary">Coke</h1>
                            <hr>
                            <ul class="list-unstyled">
                                <li><strong>Business Type:</strong> Supplier, Retailer, Wholesaler</li>
                                <li><strong>Material:</strong> N/A</li>
                                <li><strong>Color:</strong> Black</li>
                                <li><strong>Form:</strong> N/A</li>

                                <hr>
                                <li class="mt-4">
                                    <a href="https://wa.me/919690901694" target="_blank" class="text-decoration-none">
                                        <div class="d-flex align-items-center">
                                            <i class="fa fa-headphones fa-2x bg-primary p-3 text-white"></i>
                                            <div class="ps-4">
                                                <h6>Call for any query!</h6>
                                                <h3 class="text-primary m-0">+91 9690901694</h3>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>

            <hr>

            <!-- Main Content -->
            <main class="container my-5">
                <div class="row">
                    <div class="col-lg-12 mx-auto">
                        <article class="blog-post">
                            <h2 class="display-4">What is Coke?</h2>

                            <div class="blog-post-content">
                                <p>Coke is a fuel used in the steelmaking process that is created by heating coal in the
                                    absence of air. This heating is called <strong>thermal distillation</strong> or
                                    <strong>pyrolysis</strong>. To produce coke that will be used in blast furnaces,
                                    coal is thermally distilled for 15 to 18 hours, but the process can take up to 36
                                    hours. The temperature of the oven ranges between 900 and 1100 degrees Celsius.</p>

                                <p class="lh-1">Coke can be categorized into two types based on its properties:</p>
                                <ul>
                                    <li><span>Met Coke</span></li>
                                    <li><span>Low Ash Hard Coke</span></li>
                                </ul>

                                <p>Low Ash Metallurgical Coke (LAMC) is available in various specifications (VM, IM, S,
                                    CRI, CSR) and sizes (0-6 mm, 6-12 mm, 12-25 mm, 25-80 mm, 80-150 mm). It can be
                                    customized to meet the requirements of clients.</p>

                                <p>We cater to the needs of different industrial consumers of LAMC, including integrated
                                    steel plants and industries producing Ferro Alloys, Pig Iron, Engineering Goods,
                                    Chemicals, Soda Ash, and Zinc units, among others.</p>
                            </div>
                        </article>
                    </div>
                </div>
            </main>

            <!-- Quote Start -->
            <%- include('../../component/website/quote') %>
                <!-- Quote End -->


        </div>

        <%- include('../../partials/websiteFooter') %>