<%- include('../../partials/websiteHeader', { title: "Jindal Trading Co." }) %>

    <%- include('../../component/website/navbar') %>


        <div class="container-xxl">
            <!-- Header -->
            <header class="bg-white py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="/website/img/product-coaldust.jpg" alt="Blog Post Image" class="img-fluid mb-4">
                        </div>

                        <div class="col-md-6">
                            <h1 class="display-4 text-primary">Coal Dust</h1>
                            <hr>
                            <ul class="list-unstyled">
                                <li><strong>Business Type:</strong> Manufacturer, Supplier, Retailer, Wholesaler</li>
                                <li><strong>Material:</strong> N/A</li>
                                <li><strong>Color:</strong> Black</li>
                                <li><strong>Form:</strong> N/A</li>

                                <hr>
                                <li class="mt-4">
                                    <a href="https://wa.me/919690901694" target="_blank" class="text-decoration-none">
                                        <div class="d-flex align-items-center">
                                            <i class="fa fa-headphones fa-2x bg-primary p-3 text-white"></i>
                                            <div class="ps-4">
                                                <h6>Call for any query!</h6>
                                                <h3 class="text-primary m-0">+91 9690901694</h3>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>

            <hr>

            <!-- Main Content -->
            <main class="container my-5">
                <div class="row">
                    <div class="col-lg-12 mx-auto">
                        <article class="blog-post">
                            <h2 class="display-4">What is Coal Dust?</h2>

                            <div class="blog-post-content">
                                <p>Coal Dust is a fine powdered form of coal which is created by the crushing, grinding,
                                    coal is ground into dust using a device called Pulverizer. Use in the green sand
                                    foundries, manual molding, automated castings to get smooth surfaces.</p>

                                <p>The distribution of the particle size of coal dust is frequently particle size
                                    generally between 50 and 200 microns in diameter.</p>

                                <p>Jindal Trading has ensured consistency in properties of the Coal Dust, which enables
                                    foundries to use the same without encountering the usual properties associated with
                                    Coal Dust.</p>

                                <p>Such moulding system gives moulds which altogether require different combination of
                                    Carbonaceous Additives properties. For uses in industriesare classifieds as thre
                                    properties.</p>

                                <ul>
                                    <li><strong>Lustrous</strong> Regulars Specs: VM : 50-60%, Ash : 7% MAX, FC : By
                                        difference</li>
                                    <li><strong>Lustrous Low Ash Specs:</strong> VM : 45-50%, Ash : 5% MAX, FC : By
                                        difference</li>
                                    <li> <strong>Lustrous High Carbon Specs:</strong> VM : 35-40%, Ash : 7% MAX, FC : By
                                        difference</li>
                                </ul>
                            </div>
                        </article>
                    </div>
                </div>
            </main>

            <!-- Quote Start -->
            <%- include('../../component/website/quote') %>
                <!-- Quote End -->
        </div>


        <%- include('../../partials/websiteFooter') %>