<%- include('../../partials/websiteHeader', { title: "Jindal Trading Co." }) %>

    <%- include('../../component/website/navbar') %>


        <div class="container-xxl">
            <!-- Header -->
            <header class="bg-white py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="/website/img/product-ferro-alloys.jpg" alt="Blog Post Image" class="img-fluid mb-4">
                        </div>

                        <div class="col-md-6">
                            <h1 class="display-4 text-primary">Ferro Alloys</h1>
                            <hr>
                            <ul class="list-unstyled">
                                <li><strong>Business Type:</strong> Supplier, Retailer, Wholesaler</li>
                                <li><strong>Material:</strong> N/A</li>
                                <li><strong>Color:</strong> Black</li>
                                <li><strong>Form:</strong> N/A</li>

                                <hr>
                                <li class="mt-4">
                                    <a href="https://wa.me/917895498168" target="_blank" class="text-decoration-none">
                                        <div class="d-flex align-items-center">
                                            <i class="fa fa-headphones fa-2x bg-primary p-3 text-white"></i>
                                            <div class="ps-4">
                                                <h6>Request To Call</h6>
                                                <h3 class="text-primary m-0">+91 7895498168</h3>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>

            <hr>

            <!-- Main Content -->
            <main class="container my-5">
                <div class="row">
                    <div class="col-lg-12 mx-auto">
                        <article class="blog-post">
                            <h2 class="display-4">What is Ferro Alloys?</h2>

                            <div class="blog-post-content">
                                <p>Ferro Alloys is a crude alloy of iron with one or more other elements(as metals) used
                                    for deoxidizing molten steel and making alloy steel. They are prepared from charges
                                    of the nonferrous metal ore, iron or iron ore, coke or coal, and flux bt tratment at
                                    high temperatues in submerged-arc electric furnaces.</p>

                                <p>Ferro Alloys impart distinctive qualities to steel and cast iron and serve important
                                    functions are</p>
                                <ul>
                                    <li><strong>Chromium</strong> provides corrosion resistance to stainless steels.
                                    </li>
                                    <li><strong>Manganese</strong> is essential to counteract the harmful effects of
                                        sulfur is production of virtually all steel and cast iron.</li>
                                    <li><strong>Silicon</strong> is used primarily for deoxidation in steel and as an
                                        alloying agent in cast iron.</li>
                                </ul>

                                <p>The main application of ferroalloys occur in the steelmaking process to improve
                                    properties like tensile strength, ductility, fatigue strength and corrosion
                                    resistance. The ferro alloys industry is associated to :</p>
                                <ul>
                                    <li>Iron industries</li>
                                    <li>Steel Industries</li>
                                    <li>Cast Iron Industries</li>
                                </ul>


                            </div>
                        </article>
                    </div>
                </div>

                <!-- Quote Start -->
                <%- include('../../component/website/quote') %>
                    <!-- Quote End -->

            </main>
        </div>

        <%- include('../../partials/websiteFooter') %>