<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="text-center">
            <h6 class="text-secondary text-uppercase">Our Team</h6>
            <h1 class="mb-5">Collective Expertise,<br>Unparalleled Excellence.</h1>
        </div>
        <div class="owl-carousel team-carousel wow fadeInUp" data-wow-delay="0.1s">
            <!-- Team Member 1 -->
            <div class="team-item p-3 m-3">
              <div class="overflow-hidden mb-4">
                <img class="img-fluid" src="/website/img/male-placeholder.jpg" alt="" />
              </div>
              <h5 class="mb-0">Sachin Aggarwal</h5>
              <p>Managing Director</p>
              <div class="btn-slide mt-1">
                <i class="fa fa-share"></i>
                <span>
                  <a href=""><i class="fab fa-facebook-f"></i></a>
                  <a href=""><i class="fab fa-twitter"></i></a>
                  <a href=""><i class="fab fa-instagram"></i></a>
                </span>
              </div>
            </div>
            <!-- Team Member 2 -->
            <div class="team-item p-3 m-3">
              <div class="overflow-hidden mb-4">
                <img class="img-fluid" src="/website/img/male-placeholder.jpg" alt="" />
              </div>
              <h5 class="mb-0">Sandeep Kushwaha</h5>
              <p>General Manager Pig Iron Div.</p>
              <div class="btn-slide mt-1">
                <i class="fa fa-share"></i>
                <span>
                  <a href=""><i class="fab fa-facebook-f"></i></a>
                  <a href=""><i class="fab fa-twitter"></i></a>
                  <a href=""><i class="fab fa-instagram"></i></a>
                </span>
              </div>
            </div>
            <!-- Team Member 3 -->
            <div class="team-item p-3 m-3">
              <div class="overflow-hidden mb-4">
                <img class="img-fluid" src="/website/img/male-placeholder.jpg" alt="" />
              </div>
              <h5 class="mb-0">Sameer Ahmad Khan</h5>
              <p>Maintains Office Operations</p>
              <div class="btn-slide mt-1">
                <i class="fa fa-share"></i>
                <span>
                  <a href=""><i class="fab fa-facebook-f"></i></a>
                  <a href=""><i class="fab fa-twitter"></i></a>
                  <a href=""><i class="fab fa-instagram"></i></a>
                </span>
              </div>
            </div>
            <!-- Team Member 4 -->
            <div class="team-item p-3 m-3" >
              <div class="overflow-hidden mb-4">
                <img class="img-fluid" src="/website/img/female-placeholder.jpg" alt="" />
              </div>
              <h5 class="mb-0">Hema Saxena</h5>
              <p>Genaral Manager Coke & Coal Iron Div.</p>
              <div class="btn-slide mt-1">
                <i class="fa fa-share"></i>
                <span>
                  <a href=""><i class="fab fa-facebook-f"></i></a>
                  <a href=""><i class="fab fa-twitter"></i></a>
                  <a href=""><i class="fab fa-instagram"></i></a>
                </span>
              </div>
            </div>
            <!-- Team Member 5 -->
            <div class="team-item p-3 m-3">
              <div class="overflow-hidden mb-4">
                <img class="img-fluid" src="/website/img/female-placeholder.jpg" alt="" />
              </div>
              <h5 class="mb-0">Bhawna Bhati</h5>
              <p>General Manager Ferro Alloys & Chemical Div.</p>
              <div class="btn-slide mt-1">
                <i class="fa fa-share"></i>
                <span>
                  <a href=""><i class="fab fa-facebook-f"></i></a>
                  <a href=""><i class="fab fa-twitter"></i></a>
                  <a href=""><i class="fab fa-instagram"></i></a>
                </span>
              </div>
            </div>
        </div>
    </div>
  </div>